<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>update</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>
		function removeFile() {
			document.getElementById("fileRemoved").value = "true";
			document.getElementById("savedFile").style.display = "none";
		}
	</script>
</head>
<head th:replace="~{head :: #head}"></head>

<body>
	<header th:replace="~{header :: #menu}"></header>

    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <h2 class="lg-title" th:text="${T(com.example.som.model.hobby.HobbyCategory).valueOf(update.hobby_category).description}"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="pt-5 padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<form class="comment-form mb-5 gray-bg p-5" action="update" method="post" enctype="multipart/form-data">
                        <div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<select class="form-control" th:field="${update.region}">
										<option value="">지역 선택</option>
										<option value="seoul" th:selected="${update.region}">서울</option>
										<option value="busan" th:selected="${update.region}">부산</option>
										<option value="incheon" th:selected="${update.region}">인천</option>
										<option value="daegu" th:selected="${update.region}">대구</option>
										<option value="ulsan" th:selected="${update.region}">울산</option>
										<option value="gwangju" th:selected="${update.region}">광주</option>
										<option value="daejeon" th:selected="${update.region}">대전</option>
										<option value="gyeonggi" th:selected="${update.region}">경기도</option>
										<option value="gyeongnam" th:selected="${update.region}">경상남도</option>
										<option value="gyeongbuk" th:selected="${update.region}">경상북도</option>
										<option value="jeonnam" th:selected="${update.region}">전라남도</option>
										<option value="jeonbuk" th:selected="${update.region}">전라북도</option>
										<option value="choongnam" th:selected="${update.region}">충청남도</option>
										<option value="choongbuk" th:selected="${update.region}">충청북도</option>
										<option value="gangwon" th:selected="${update.region}">강원도</option>
										<option value="jeju" th:selected="${update.region}">제주도</option>
									</select>
									<div class="error" th:errors="${update.region}"></div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<select class="form-control" th:field="${update.hobby_category}">
										<option value="">카테고리 선택</option>
										<option value="baking" th:selected="${update.hobby_category}">베이킹</option>
										<option value="ring" th:selected="${update.hobby_category}">반지</option>
										<option value="dating" th:selected="${update.hobby_category}">데이트</option>
										<option value="perfume" th:selected="${update.hobby_category}">향수</option>
										<option value="sports" th:selected="${update.hobby_category}">스포츠</option>
										<option value="candle" th:selected="${update.hobby_category}">캔들</option>
										<option value="music" th:selected="${update.hobby_category}">음악</option>
										<option value="leather" th:selected="${update.hobby_category}">가죽</option>
									</select>
									<div class="error" th:errors="${update.hobby_category}"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group">
                                    <input class="form-control" type="text" th:field="${update.title}" placeholder="제목 :">
                                    <div class="error" th:errors="${update.title}"></div>
                                </div>
                            </div>
                            <div class="col-lg-12">
								<div class="form-group">
                                     <input class="form-control" type="text" th:field="${update.price}" placeholder="클래스 비용">
                                </div>
							</div>
                            <div class="col-lg-12">
                                <textarea class="form-control mb-3" th:field="${update.content}" cols="30" rows="5"
                                    placeholder="내용을 입력해주세요."></textarea>
                                <div class="error" th:errors="${update.content}"></div>
                            </div>
							<div class="col-lg-12">
								<div class="form-group">
									<div class="form-control" id="savedFile" th:if="${file}">
										<span th:text="${file.original_filename}"></span>
										<a href="javascript:void(0);" onclick="removeFile();"><i class="ti-trash"></i></a>
									</div>
								</div>
								<div class="form-group">
									<div class="form-control">
										<input type="file" name="file">
									</div>
								</div>
							</div>
                        </div>
						
						<input type="hidden" th:field="${update.hobby_id}">
						<input type="hidden" th:field="${update.fileRemoved}">
                        <input class="btn btn-primary" type="submit" value="수정하기">
                        <input class="btn btn-primary" type="button" th:onclick="|location.href='@{/hobby/list(hobby_category=${update.hobby_category})}'|" value="목록으로">
                    </form>
					
                </div>
            </div>
        </div>
    </section>
    
	<section th:replace="~{footer :: #footer}"></section>
</body>

</html>