<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Write Hobby</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<head th:replace="~{head :: #head}"></head>

<body>
	<header th:replace="~{header :: #menu}"></header>

    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <h2 class="lg-title">Hobby</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="pt-5 padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<form class="comment-form mb-5 gray-bg p-5" id="write-form" action="write" method="post" enctype="multipart/form-data">
                        <div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<select class="form-control" th:field="${write.region}">
										<option value="" selected>지역 선택</option>
										<option value="seoul">서울</option>
										<option value="busan">부산</option>
										<option value="incheon">인천</option>
										<option value="daegu">대구</option>
										<option value="ulsan">울산</option>
										<option value="gwangju">광주</option>
										<option value="daejeon">대전</option>
										<option value="gyeonggi">경기도</option>
										<option value="gyeongnam">경상남도</option>
										<option value="gyeongbuk">경상북도</option>
										<option value="jeonnam">전라남도</option>
										<option value="jeonbuk">전라북도</option>
										<option value="choongnam">충청남도</option>
										<option value="choongbuk">충청북도</option>
										<option value="gangwon">강원도</option>
										<option value="jeju">제주도</option>
									</select>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<select class="form-control" th:field="${write.hobby_category}">
										<option value="" selected>카테고리 선택</option>
										<option value="baking">베이킹</option>
										<option value="ring">반지</option>
										<option value="dating">데이트</option>
										<option value="perfume">향수</option>
										<option value="sports">스포츠</option>
										<option value="candle">캔들</option>
										<option value="music">음악</option>
										<option value="leather">가죽</option>
									</select>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group">
                                    <input class="form-control" type="text" th:field="${write.title}" placeholder="제목 :">
                                </div>
                            </div>
                            <div class="col-lg-12">
								<div class="form-group">
                                    <input class="form-control" type="text" th:field="${write.price}" placeholder="클래스 비용">
                                </div>
							</div>
                            <div class="col-lg-12">
                                <textarea class="form-control mb-3" th:field="${write.content}" cols="30" rows="5"
                                    placeholder="내용을 입력해주세요."></textarea>
                            </div>   
                            <div class="col-lg-12">
								<input class="form-control" type="file" name="file">
							</div>
                        </div>
						
						<br>
                        <input class="btn btn-primary" type="submit" value="작성하기">
                        <input class="btn btn-primary" type="button" th:onclick="|location.href='@{/hobby/list(hobby_category=${param.hobby_category})}'|" value="목록으로">
                    </form>
					
                </div>
            </div>
        </div>
    </section>
    
	<section th:replace="~{footer :: #footer}"></section>
</body>

</html>