<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="utf-8">
    <title th:text="${param.relief_category} ? ${ T(com.example.som.model.relief.ReliefCategory).valueOf(param.relief_category).description} : '' "></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<head th:replace="~{head :: #head}"></head>

<body>
	<header th:replace="~{header :: #menu}"></header>

    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <h2 class="lg-title" th:text="${T(com.example.som.model.relief.ReliefCategory).valueOf(param.relief_category).description}"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="pt-5 padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div text-align: "center">
						[내 주변 스트레스 해소 장소 찾아보기]<p>
						<a href="https://map.naver.com">[네이버]</a>&nbsp;|
						<a href="https://map.kakao.com">[카카오]</a>&nbsp;|
						<a href="https://www.google.com/maps">[구글]</a>
					</div>
					
					<div class="mb-4 post-list border-bottom pb-4" th:each="relief : ${reliefs}">
						<div class="row no-gutters">
							<div class="col-md-12">
								<div class="post-article mt-sm-3">
									<h3 class="mt-2" style="font-family: Open Sans, sans-serif;"><a th:href="@{/relief/read(seq_id=${relief.seq_id})}" th:text="${relief.title}"></a></h3>
									<div class="post-meta">
										<ul class="list-inline">
											<li class="list-inline-item letter-spacing-1" style="float: right;"></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					 <nav class="post-pagination">
                        <div class="next-post">
                            <a th:href="@{/relief/write(relief_category=${relief_category})}">
                                <span class="text-uppercase font-sm ti-pencil-alt"> 작성하기</span>
                            </tha>
                        </div>
                    </nav>
					
					<div class="pagination mt-5 pt-4">
						<ul class="list-inline">
							<li class="list-inline-item"><a href="#" class="active">1</a></li>
							<li class="list-inline-item"><a href="#">2</a></li>
							<li class="list-inline-item"><a href="#">3</a></li>
							<li class="list-inline-item"><a href="#" class="prev-posts"><i class="ti-arrow-right"></i></a></li>
						</ul>
					</div>
					
                </div>
            </div>
        </div>
    </section>
    
	<section th:replace="~{footer :: #footer}"></section>
</body>

</html>