<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="utf-8">
    <title th:text="${param.relief_category != null ? T(com.example.som.model.relief.ReliefCategory).valueOf(param.relief_category).description : ''}"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<head th:replace="~{head :: #head}"></head>

<body>
	<header th:replace="~{header :: #menu}"></header>

    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <h2 class="lg-title"
                         th:text="${T(com.example.som.model.relief.ReliefCategory).valueOf(relief.relief_category).description}">
                         </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="pt-5 padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					
					<label for="mbti"></label>
                                            <class="form-control form-control-mbti" name="mbti" id="mbti" size="1">
												
											<div id="result"></div>
					<div class="mb-4 post-list border-bottom pb-4" th:each="relief : ${reliefs}">
						<div class="row no-gutters">
							<div class="col-md-12">
								<div class="post-article mt-sm-3">
									<h3 class="mt-2" style="font-family: Open Sans, sans-serif;" ><a th:href="@{/relief/read(seq_id=${relief.seq_id})}" th:text="${relief.title}"></a></h3>
									<div class="post-meta">
										  <div class="form-group">
                                          
                                        </div>
										<div id="result"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				
					<nav class="post-pagination">
                        <div class="next-post">
							 <a href="/relief/write?relief_category=MBTI">
                                <span class="text-uppercase font-sm ti-pencil-alt"> 작성하기</span>
                            </a>
                        </div>
                    </nav>
					
					<!--<div class="pagination mt-5 pt-4">
						<ul class="list-inline">
							<li class="list-inline-item"><a href="#" class="active">1</a></li>
							<li class="list-inline-item"><a href="#">2</a></li>
							<li class="list-inline-item"><a href="#">3</a></li>
							<li class="list-inline-item"><a href="#" class="prev-posts"><i class="ti-arrow-right"></i></a></li>
						</ul>
					</div>-->
					
                </div>
            </div>
        </div>
    </section>
    
	<section th:replace="~{footer :: #footer}"></section>
	
	
	 <script>
        $(document).ready(function () {
            $("#mbti").change(function () {
                var selectedMBTI = $(this).val();
                displayMBTIDescription(selectedMBTI);
            });

            function displayMBTIDescription(mbti) {
                var description = "";

                // MBTI에 따른 해소법 안내
                switch (mbti) {
                     case "ISTJ":
                        description = "<ul><li>일정 계획을 세우고 목표를 달성하는 데 집중하며 체계적으로 일하는 시간을 가집시다.</li><li>자기 시간을 존중하고 휴식을 취하며 간간히 새로운 경험에 도전해보세요.</li><li>다른 사람들과 소통하며 감정을 나누는 것이 도움이 됩니다.</li><li>예상치 못한 일에 유연하게 대처하며 완벽주의에 빠지지 않도록 주의하세요.</li></ul>";
                      	break;
                      case "ISTP":
                        description = "<ul><li>문제 해결에 집중하고 실용적이며 논리적인 접근 방식을 채택하세요.</li><li>개별적이고 자유로운 활동을 통해 독립성을 유지하며 스트레스 해소하세요.</li><li>새로운 기술이나 기술적인 도전에 참여하여 호기심을 충족하세요.</li><li>감정을 표현하는 연습을 통해 자신의 감정을 더 잘 이해하고 표현하세요.</li></ul>";
                        break;
                         case "ISFJ":
                        description = "<ul><li>다른 사람들에게 도움을 주는 일에서 만족감을 느낄 수 있도록 노력하세요.</li><li>친구나 가족과의 깊은 관계를 구축하고 유지하기 위해 시간을 할애하세요.</li><li>예측 가능하고 안정된 환경을 찾아 안정을 찾아보세요.</li><li>자신에 대한 감사의 마음을 기르고 긍정적인 경험을 공유해보세요.</li></ul>";
                        break;
                         case "ISFP":
                        description = "<ul><li>예술적 활동이나 자연 속에서 시간을 보내며 내적인 조화를 찾아보세요.</li><li>감정을 표현하고 소소한 순간들을 즐겨 기억에 남게 하세요.</li><li>친밀한 인간관계를 중시하고 동료들과의 조용한 시간을 갖는 것이 중요합니다.</li><li>유연성을 유지하고 예상치 못한 변화에 대처하는 데 열린 자세를 유지하세요.</li></ul>";
                        break;
                         case "INTJ":
                        description = "<ul><li>목표를 분명히 설정하고 계획을 세우며 조직적으로 일하는데 집중하세요.</li><li>자기 독립성을 존중하면서도 다른 사람들과의 협력을 고려하세요.</li><li>새로운 아이디어와 도전을 통해 지적 호기심을 충족시키세요.</li><li>감정적으로 과도하게 스트레스 받지 않도록 노력하며 효과적인 해결책을 찾아보세요.</li></ul>";
                        break;
                         case "INTP":
                        description = "<ul><li>개인적인 관심사에 대해 깊이 연구하고 자신만의 세계에 몰두하세요.</li><li>사색과 탐구를 통해 지적 호기심을 충족시키세요.</li><li>감정적인 면에 주의를 기울이며 감정 표현에 연습을 하세요.</li><li>목표 달성을 위해 실제적인 계획을 세우고 실행에 옮기는 연습을 하세요.</li></ul>";
                        break;
                         case "INFJ":
                        description = "<ul><li>혼자 시간을 보내며 내면의 세계에 귀 기울이고 감정을 정리하세요.<li></li>예술이나 글쓰기와 같은 창의적인 방식으로 감정을 표현하세요.<li></li>타인과 깊은 대화를 통해 생각과 감정을 공유하세요.<li></li>목표 달성을 위해 현실적인 계획을 세우고 차분한 실행력을 발휘하세요.</li></ul>";
                        break;
                         case "INFP":
                        description = "<ul><li>예술적이거나 창의적인 활동을 통해 감정을 표현하고 표출하세요.<li></li>자연 속에 시간을 보내며 명상이나 독서를 통해 내면의 세계에 귀 기울이세요.<li></li>주변의 긍정적인 에너지를 공유하며 소소한 행복을 찾아보세요.<li></li>감정을 정리하고 목표를 세워 진행하는데 도움이 되는 일일 계획을 만들어보세요.</li></ul>";
                        break;
                         case "ESTJ":
                        description = "<ul><li>목표를 달성하기 위해 계획을 세우고 조직을 체계적으로 이끄는데 집중하세요.<li></li>명확한 규칙과 기대치를 설정하여 안정감을 유지하세요.<li></li>주변 사람들과의 소통을 강화하고 팀원들에게 지시를 내리는 데 중점을 두세요.<li></li>감정을 더 표현하고 타인의 감정에 민감하게 반응하는 데 주의하세요.</li></ul>";
                        break;
                         case "ESTP":
                        description = "<ul><li>활동적이고 경쟁적인 환경에서 에너지를 발산하세요.<li></li>스포츠나 육체적 활동을 통해 스트레스를 해소하세요.<li></li>문제 해결에 집중하고 도전적인 목표를 세우며 자신의 역량을 확인하세요.<li></li>다양한 사람들과 소통하며 새로운 경험을 즐기는데 집중하세요.</li></ul>";
                        break;
                         case "ESFJ":
                        description = "<ul><li>가족이나 친구와의 유대감을 강화하고 정기적인 소통을 유지하세요.<li></li>동료들과 협력하며 공동의 목표 달성에 중점을 두세요.<li></li>다양한 활동을 통해 사회적 상호작용을 확대하세요.<li></li>자기 돌봄에 시간을 투자하고 휴식을 취하여 에너지를 회복하세요.</li></ul>";
                        break;
                         case "ESFP":
                        description = "<ul><li>즉흥적이고 활기찬 활동을 통해 에너지를 충전하세요.<li></li>친구들과 함께 시간을 보내며 긍정적인 에너지를 공유하세요.<li></li>감정을 자유롭게 표현하고 즐거운 순간을 추구하세요.<li></li>다양한 경험을 즐기면서 무거운 일상에서 벗어나세요.</li></ul>";
                        break;
                         case "ENTJ":
                        description = "<ul><li>목표지향적으로 일하고 계획을 세우며 조직을 효과적으로 이끄는데 집중하세요.<li></li>도전적이고 문제 해결에 초점을 맞춰 자기 개발에 투자하세요.<li></li>목표 달성을 위해 동료들과의 협력을 강화하세요.<li></li>휴식과 리프레싱을 통해 에너지를 회복하며 균형을 유지하세요.</li></ul>";
                        break;
                         case "ENTP":
                        description = "<ul><li>다양한 아이디어와 프로젝트에 참여하여 창의성을 발휘하세요.<li></li>도전적인 목표를 세우고 새로운 경험을 통해 자기 개발에 투자하세요.<li></li>목표를 달성하기 위해 효과적인 전략을 구상하고 실행하는 연습을 하세요.<li></li>타인의 의견을 수용하고 유연한 사고를 유지하여 새로운 아이디어에 열려 있도록 노력하세요.</li></ul>";
                        break;
                          case "ENFJ":
                        description = "<ul><li>다양한 사람들과 소통하며 관계를 강화하는데 시간을 투자하세요.<li></li>자신의 감정을 나누고 공감 능력을 활용하여 다른 사람들을 지원하세요.<li></li>목표를 달성하기 위해 팀을 조직하고 협력하는 데 주력하세요.<li></li>자기돌봄에 집중하고 균형잡힌 삶을 위해 휴식과 여가를 즐기세요.</li></ul>";
                        break;
                    	case "ENFP":
                        description = "<ul><li>다양한 사람들과 소통하며 새로운 아이디어와 관점을 수용하세요.<li></li>창의적인 방식으로 문제를 해결하고 다양한 경험을 추구하세요.<li></li>감정을 표현하고 주변 사람들과의 관계를 키우는 데 신경 쓰세요.<li></li>자기돌봄에 시간을 할애하고 자유로운 활동으로 스트레스를 해소하세요.</li></ul>";
                        break;

                    default:
                        description = "선택된 MBTI에 대한 설명이 없습니다.";
                }

                // Display the description in the result div
                $("#result").html(description);
            }
        });
    </script>
</body>

</html>