<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.som.repository.BoardMapper">
	<select id="findBoards" resultType="board">
		select * from board where board_category = #{board_category}
	</select>
	
	<insert id="saveBoard">
		<selectKey keyProperty="seq_id" resultType="long" order="BEFORE">
			select seq_id.nextval from dual
		</selectKey>
		insert into board(
			seq_id,
			title,
			content,
			member_id,
			board_category
		)values(
			#{seq_id},
			#{title},
			#{content},
			#{member_id},
			#{board_category}
		)
	</insert>
	
</mapper>