<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.som.repository.BoardMapper">
	<select id="findBoards" resultType="board">
		select * from board where
		board_category = #{arg0}
		   <if test="_parameter != null">
            and title like '%' || #{arg1} || '%'
        </if>
		order by create_date desc
	</select>

	<insert id="saveBoard">
		<selectKey keyProperty="board_id" resultType="long"
			order="BEFORE">
			select board_id.nextval from dual
		</selectKey>
		insert into board(
		board_id,
		title,
		content,
		member_id,
		board_category
		)values(
		#{board_id},
		#{title},
		#{content},
		#{member_id},
		#{board_category}
		)
	</insert>

	<select id="findBoardById" resultType="board">
		select * from board where
		board_id = #{board_id}
	</select>

	<update id="updateBoard">
		update board
		<set>
			<if test="title != null">title = #{title},</if>
			<if test="content != null">content = #{content},</if>
			update_date = sysdate
		</set>
		where board_id = #{board_id}
	</update>
	
	<update id="addHit">
		update board set hit = #{hit} where board_id = #{board_id}
	</update>

	<delete id="removeBoard">
		delete from board where board_id = #{board_id}
	</delete>

	<select id="getTotal" resultType="int">
		select count(*) from board 
		where board_category = #{arg0} 
		<if test="_parameter != null">
            and title like '%' || #{arg1} || '%'
        </if>
	</select>

</mapper>