<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.som.repository.BoardMapper">
	<select id="findBoards" resultType="board">
		select * from board where
		board_category = #{arg0}
		   <if test="_parameter != null">
            and title like '%' || #{arg1} || '%'
        </if>
		order by create_date desc
	</select>

	<insert id="saveBoard">
		<selectKey keyProperty="seq_id" resultType="long"
			order="BEFORE">
			select seq_id.nextval from dual
		</selectKey>
		insert into board(
		seq_id,
		title,
		content,
		member_id,
		board_category
		)values(
		#{seq_id},
		#{title},
		#{content},
		#{member_id},
		#{board_category}
		)
	</insert>

	<select id="findBoardById" resultType="board">
		select * from board where
		seq_id = #{seq_id}
	</select>

	<update id="updateBoard">
		update board
		<set>
			<if test="title != null">title = #{title},</if>
			<if test="content != null">content = #{content},</if>
			update_date = sysdate
		</set>
		where seq_id = #{seq_id}
	</update>
	
	<update id="addHit">
		update board set hit = #{hit} where seq_id = #{seq_id}
	</update>

	<delete id="removeBoard">
		delete from board where seq_id = #{seq_id}
	</delete>

	<insert id="saveBoardFile">
		<selectKey keyProperty="file_id" resultType="long"
			order="BEFORE">
			select file_id.nextval from dual
		</selectKey>
		insert into saved_file (
		file_id,
		seq_id,
		original_filename,
		saved_filename,
		file_size
		) values (
		#{file_id},
		#{seq_id},
		#{original_filename},
		#{saved_filename},
		#{file_size}
		)
	</insert>

	<select id="findFileBySeqId" resultType="file">
		select * from saved_file where seq_id = #{seq_id}
	</select>

	<select id="findFileByFileId" resultType="file">
		select * from saved_file where file_id = #{file_id}
	</select>

	<delete id="removeSavedFile">
		delete from saved_file where file_id = #{file_id}
	</delete>
	
	<select id="getTotal" resultType="int">
		select count(*) from board 
		where board_category = #{arg0} 
		<if test="_parameter != null">
            and title like '%' || #{arg1} || '%'
        </if>
	</select>

</mapper>