<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.som.repository.FileMapper">

	<insert id="saveBoardFile">
		<selectKey keyProperty="file_id" resultType="long"
			order="BEFORE">
			select file_id.nextval from dual
		</selectKey>
		insert into saved_file (
		file_id,
		board_id,
		original_filename,
		saved_filename,
		file_size
		) values (
		#{file_id},
		#{board_id},
		#{original_filename},
		#{saved_filename},
		#{file_size}
		)
	</insert>
	
	<insert id="saveDiaryFile">
		<selectKey keyProperty="file_id" resultType="long"
			order="BEFORE">
			select file_id.nextval from dual
		</selectKey>
		insert into saved_file (
		file_id,
		diary_id,
		original_filename,
		saved_filename,
		file_size
		) values (
		#{file_id},
		#{diary_id},
		#{original_filename},
		#{saved_filename},
		#{file_size}
		)
	</insert>
	
	<insert id="saveReliefFile">
		<selectKey keyProperty="file_id" resultType="long"
			order="BEFORE">
			select file_id.nextval from dual
		</selectKey>
		insert into saved_file (
		file_id,
		relief_id,
		original_filename,
		saved_filename,
		file_size
		) values (
		#{file_id},
		#{relief_id},
		#{original_filename},
		#{saved_filename},
		#{file_size}
		)
	</insert>
	
	<insert id="saveHobbyFile">
		<selectKey keyProperty="file_id" resultType="long"
			order="BEFORE">
			select file_id.nextval from dual
		</selectKey>
		insert into saved_file (
		file_id,
		hobby_id,
		original_filename,
		saved_filename,
		file_size
		) values (
		#{file_id},
		#{hobby_id},
		#{original_filename},
		#{saved_filename},
		#{file_size}
		)
	</insert>
	
		<insert id="saveEtcFile">
		<selectKey keyProperty="file_id" resultType="long"
			order="BEFORE">
			select file_id.nextval from dual
		</selectKey>
		insert into saved_file (
		file_id,
		etc_id,
		original_filename,
		saved_filename,
		file_size
		) values (
		#{file_id},
		#{etc_id},
		#{original_filename},
		#{saved_filename},
		#{file_size}
		)
	</insert>

	<select id="findBoardFile" resultType="file">
		select * from saved_file where board_id = #{board_id}
	</select>
	
	<select id="findReliefFile" resultType="file">
		select * from saved_file where relief_id = #{relief_id}
	</select>
	
	<select id="findDiaryFile" resultType="file">
		select * from saved_file where diary_id = #{diary_id}
	</select>
	
	<select id="findHobbyFile" resultType="file">
		select * from saved_file where hobby_id = #{hobby_id}
	</select>
	
	<select id="findEtcFile" resultType="file">
		select * from saved_file where etc_id = #{etc_id}
	</select>
	
	<select id="findFileByFileId" resultType="file">
		select * from saved_file where file_id = #{file_id}
	</select>
	
	<delete id="removeSavedFile">
		delete from saved_file where file_id = #{file_id}
	</delete>
	
</mapper>