<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.som.repository.MemberMapper">
    <insert id="saveMember">
        insert into member (
            member_id,
            password,
            member_name,
            nickname,
            mbti,
            <if test="birth != null">birth,</if>
            <if test="region != null">region,</if>
            <if test="phone != null">phone,</if>
            <if test="gender != null">gender</if>
        ) values (
            #{member_id},
            #{password},
            #{member_name},
            #{nickname},
            #{mbti},
            <if test="birth != null">#{birth},</if>
            <if test="region != null">#{region},</if>
            <if test="phone != null">#{phone},</if>
            <if test="gender != null">#{gender}</if>
        )
    </insert>

   <select id="findMember" resultType="member">
        select * from member where member_id = #{member_id}
    </select>
    
     <select id="getRanking" resultType="member">
        SELECT * FROM member where admin = 'ROLE_USER' ORDER BY point DESC
    </select>
    
   	<update id="updateMember">
	update member
	<set>
		<if test="password != null">password = #{password},</if>
		<if test="nickname != null">nickname = #{nickname},</if>
		<if test="region != null">region = #{region},</if>
		<if test="mbti != null">mbti = #{mbti},</if>
		<if test="phone != null">phone = #{phone}</if>
	</set>
	where member_id = #{member_id}
</update>


    <update id="addPoint">
        UPDATE MEMBER SET POINT = #{point} WHERE MEMBER_ID = #{member_id}
    </update>
    
</mapper>