<!DOCTYPE html>

<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>Stress Survey</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script>
		$(function(){
			$("#resultBox").hide();
		});
		
		function viewResult() {
			var sum = 0;
			var inp = document.getElementsByTagName("input");
			for (var i = 0; i < inp.length; i++) {
				if (inp[i].type == "radio") {
					if (!document.getElementsByName(inp[i].name)[0].checked
						&& !document.getElementsByName(inp[i].name)[1].checked
						&& !document.getElementsByName(inp[i].name)[2].checked
						&& !document.getElementsByName(inp[i].name)[3].checked
						&& !document.getElementsByName(inp[i].name)[4].checked
					) {
						alert(inp[i].name.replace(/Q/gi, "") + "번 질문의 답을 선택해 주세요.");
						inp[i].focus();
						return;
					}
					if (inp[i].checked) {
						sum += Number(inp[i].value);
					}
				}
			}
			
			$("#resultBox").show();
			
			$("#sum").html("<p style='font-size: large;'>당신의 테스트 결과 점수는 : <strong class='fcR fs16'>" + sum + "점</strong> 입니다.</p>");
			
			saveResult(sum);
		}
		
		function saveResult(sum){
			console.log(sum);
			$.ajax({
				url: "/test/stress",
				type: "post",
				data: {
					"test_result": sum
				},
				success: function(data){
					console.log(data);
				},
				error: function(status){
					console.log(status);
				}
			});
		}
		
	</script>
</head>

<head th:replace="~{head :: #head}"></head>

<body>
	<header th:replace="~{header :: #menu}"></header>

	<div class="breadcrumb-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="text-center">
						<h2 class="lg-title">Stress Survey</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="pt-5 padding-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<form action="submit_survey" method="post">

						<table>
							<tr>
								<th>문항</th>
								<th>전혀<br>없었다</th>
								<th>거의<br>없었다</th>
								<th>가끔<br>있었다</th>
								<th>자주<br>있었다</th>
								<th>매우 자주<br>있었다</th>
							</tr>
							<tr>
								<td>1. 지난 한 달 동안, 예상치 못한 일이 생겨서 기분 나빠진 적이 얼마나 있었나요?</td>
								<td class="td-center"><input type="radio" name="Q1" value="0" required></td>
								<td class="td-center"><input type="radio" name="Q1" value="1" required></td>
								<td class="td-center"><input type="radio" name="Q1" value="2" required></td>
								<td class="td-center"><input type="radio" name="Q1" value="3" required></td>
								<td class="td-center"><input type="radio" name="Q1" value="4" required></td>
							</tr>
							<tr>
								<td>2. 지난 한 달 동안, 중요한 일들을 통제할 수 없다고 느낀 적은 얼마나 있었나요?</td>
								<td class="td-center"><input type="radio" name="Q2" value="0" required></td>
								<td class="td-center"><input type="radio" name="Q2" value="1" required></td>
								<td class="td-center"><input type="radio" name="Q2" value="2" required></td>
								<td class="td-center"><input type="radio" name="Q2" value="3" required></td>
								<td class="td-center"><input type="radio" name="Q2" value="4" required></td>
							</tr>
							<tr>
								<td>3. 지난 한 달 동안, 초조하거나 스트레스가 쌓인다고 느낀 적은 얼마나 있었나요?</td>
								<td class="td-center"><input type="radio" name="Q3" value="0" required></td>
								<td class="td-center"><input type="radio" name="Q3" value="1" required></td>
								<td class="td-center"><input type="radio" name="Q3" value="2" required></td>
								<td class="td-center"><input type="radio" name="Q3" value="3" required></td>
								<td class="td-center"><input type="radio" name="Q3" value="4" required></td>
							</tr>
							<tr>
								<td>4. 지난 한 달 동안, 짜증나고 성가신 일들을 성공적으로 처리한 적이 얼마나 있었나요?</td>
								<td class="td-center"><input type="radio" name="Q4" value="4" required></td>
								<td class="td-center"><input type="radio" name="Q4" value="3" required></td>
								<td class="td-center"><input type="radio" name="Q4" value="2" required></td>
								<td class="td-center"><input type="radio" name="Q4" value="1" required></td>
								<td class="td-center"><input type="radio" name="Q4" value="0" required></td>
							</tr>
							<tr>
								<td>5. 지난 한 달 동안, 생활 속에서 일어난 중요한 변화들을 효과적으로 대처한 적이 얼마나 있었나요?</td>
								<td class="td-center"><input type="radio" name="Q5" value="4" required></td>
								<td class="td-center"><input type="radio" name="Q5" value="3" required></td>
								<td class="td-center"><input type="radio" name="Q5" value="2" required></td>
								<td class="td-center"><input type="radio" name="Q5" value="1" required></td>
								<td class="td-center"><input type="radio" name="Q5" value="0" required></td>
							</tr>
							<tr>
								<td>6. 지난 한 달 동안, 개인적인 문제를 처리하는 능력에 대해 자신감을 느낀 적은 얼마나 있었나요?</td>
								<td class="td-center"><input type="radio" name="Q6" value="4" required></td>
								<td class="td-center"><input type="radio" name="Q6" value="3" required></td>
								<td class="td-center"><input type="radio" name="Q6" value="2" required></td>
								<td class="td-center"><input type="radio" name="Q6" value="1" required></td>
								<td class="td-center"><input type="radio" name="Q6" value="0" required></td>
							</tr>
							<tr>
								<td>7. 지난 한 달 동안, 자신의 뜻대로 일이 진행된다고 느낀 적은 얼마나 있었나요?</td>
								<td class="td-center"><input type="radio" name="Q7" value="4" required></td>
								<td class="td-center"><input type="radio" name="Q7" value="3" required></td>
								<td class="td-center"><input type="radio" name="Q7" value="2" required></td>
								<td class="td-center"><input type="radio" name="Q7" value="1" required></td>
								<td class="td-center"><input type="radio" name="Q7" value="0" required></td>
							</tr>
							<tr>
								<td>8. 지난 한 달 동안, 매사를 잘 컨트롤하고 있다고 느낀 적이 얼마나 있었나요?</td>
								<td class="td-center"><input type="radio" name="Q8" value="4" required></td>
								<td class="td-center"><input type="radio" name="Q8" value="3" required></td>
								<td class="td-center"><input type="radio" name="Q8" value="2" required></td>
								<td class="td-center"><input type="radio" name="Q8" value="1" required></td>
								<td class="td-center"><input type="radio" name="Q8" value="0" required></td>
							</tr>
							<tr>
								<td>9. 지난 한 달 동안, 당신이 통제할 수 없는 범위에서 발생한 일 때문에 화가 난 적이 얼마나 있었나요?</td>
								<td class="td-center"><input type="radio" name="Q9" value="0" required></td>
								<td class="td-center"><input type="radio" name="Q9" value="1" required></td>
								<td class="td-center"><input type="radio" name="Q9" value="2" required></td>
								<td class="td-center"><input type="radio" name="Q9" value="3" required></td>
								<td class="td-center"><input type="radio" name="Q9" value="4" required></td>
							</tr>
							<tr>
								<td>10. 지난 한 달 동안, 어려운 일이 너무 많이 쌓여서 극복할 수 없다고 느낀 적이 얼마나 있었나요?</td>
								<td class="td-center"><input type="radio" name="Q10" value="0" required></td>
								<td class="td-center"><input type="radio" name="Q10" value="1" required></td>
								<td class="td-center"><input type="radio" name="Q10" value="2" required></td>
								<td class="td-center"><input type="radio" name="Q10" value="3" required></td>
								<td class="td-center"><input type="radio" name="Q10" value="4" required></td>
							</tr>
						</table>
						<div class="text-center">
							<button type="button" onclick="viewResult()"
								class="btn btn-grey mt-3 btn-submit">제출</button>
						</div>
					</form>
					<div id="resultBox">
						<div id="sum"></div>
						<p style="font-size: large;">점수별 평가 결과</p>
						<div>
							<table>
								<colgroup>
									<col style="width:15%">
									<col>
								</colgroup>
								<tbody>
									<tr id="menu1">
										<th>13점 이하</th>
										<td>정상적인 스트레스 상태입니다.</td>
									</tr>
									<tr id="menu2">
										<th>14 ~ 16점</th>
										<td>경도의 스트레스 상태입니다. <br>스트레스의 영향을 조금 받고 있는 상태입니다. 스트레스를 줄이고 긍정적인 경험을 하는 등 스트레스 관리가
											필요합니다. </td>
									</tr>
									<tr id="menu3">
										<th>17 ~ 18점</th>
										<td>중등도의 스트레스 상태입니다.<br>지속적인 스트레스는 우울, 불안 등 정신적인 어려움으로 이어질 수 있으므로, 적극적으로 스트레스 관리를
											하는 것이 필요합니다. </td>
									</tr>
									<tr id="menu4">
										<th>19점 이상</th>
										<td>심한 스트레스 상태입니다.<br>적극적인 스트레스 관리가 필요하며 혼자서 해결하기 어려울 수 있으므로 전문가의 도움을 적극적으로 받으시기
											바랍니다. </td>
									</tr>
								</tbody>
							</table>
						</div>
						<div style="text-align: center; margin-top: 30px; font-size: large;" sec:authorize="isAnonymous()">
							나만을 위한 스트레스 관리가 궁금하시다면?<a class="text-color" href="/user/login" > 로그인</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section th:replace="~{footer :: #footer}"></section>
</body>

</html>