<!DOCTYPE html>

<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>SOM</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<head th:replace="~{head :: #head}"></head>

<body>
	<header th:replace="~{header :: #menu}"></header>

	<section class="banner" style="margin-top: 30px;">
		<div class="container">
			<div class="banner-img">
				<a href="blog-single.html"><img src="images/fashion/bg-banner-2.jpg" alt="" class="img-fluid w-100"></a>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="banner-content text-center">
						<div class="meta-cat">
							<span class="text-capitalize letter-spacing-1 cat-name font-extra text-color">SOM</span>
						</div>
						<div class="post-title">
							<h2><a href="blog-single.html">Shelter Of Mind</a></h2>
						</div>

						<div class="post-content">
							<p>SOM과 함께 시작하는 힐링 생활. 지금 어떤 힐링이 필요할 지 스트레스 진단부터 시작해보세요.</p>
							<a href="blog-single.html" class="btn btn-grey mt-3"> 검사하기</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>





	<section class="section-padding pt-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">

					<article class="post-list mb-5 pb-4 border-bottom">
						<a class="post-thumb mb-3 d-block" href="blog-single.html">
							<img src="images/fashion/bg-fashion.jpg" alt="" class="img-fluid w-100">
						</a>
						<div class="meta-cat">
							<span class="letter-spacing cat-name font-extra text-uppercase font-sm">Experience</span>
						</div>
						<h3 class="post-title mt-2"><a href="blog-single.html">A guide to Duxton Hill</a></h3>

						<div class="post-meta footer-meta">
							<ul class="list-inline">
								<li class="post-like list-inline-item">
									<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>2 min read</span>
								</li>
								<li class="post-view list-inline-item letter-spacing-1">189 Views</li>
							</ul>
						</div>
						<div class="post-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat
								necessitatibus tenetur ratione eius numquam! elit. Earum in doloremque, odit quas repellat voluptatum
								illo nulla ullam sunt, enim animi eaque dolorem possimus saepe! Fuga voluptas sapiente, nemo sit.</p>

						</div>
					</article>



					<div class="mb-4 post-list border-bottom pb-4">
						<div class="row no-gutters">
							<div class="col-md-5">
								<a class="post-thumb " href="blog-single.html">
									<img src="images/fashion/img-1.jpg" alt="" class="img-fluid w-100">
								</a>
							</div>

							<div class="col-md-7">
								<div class="post-article mt-sm-3">
									<div class="meta-cat">
										<span class="letter-spacing cat-name font-extra text-uppercase font-sm">Explore</span>
									</div>
									<h3 class="post-title mt-2"><a href="blog-single.html">Launch a New space</a></h3>

									<div class="post-meta">
										<ul class="list-inline">
											<li class="post-like list-inline-item">
												<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>3 min
													read</span>
											</li>
											<li class="post-view list-inline-item letter-spacing-1">259 Views</li>
										</ul>
									</div>
									<div class="post-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat
											necessitatibus tenetur ratione eius numquam!</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="mb-4 post-list border-bottom pb-4">
						<div class="row no-gutters">
							<div class="col-md-5">
								<a class="post-thumb" href="blog-single.html">
									<img src="images/fashion/img-2.jpg" alt="" class="img-fluid w-100">
								</a>
							</div>

							<div class="col-md-7">
								<div class="post-article mt-sm-3">
									<div class="meta-cat">
										<span class="letter-spacing cat-name font-extra text-uppercase font-sm">lifestyle</span>
									</div>
									<h3 class="post-title mt-2"><a href="blog-single.html">Bahamas morning</a></h3>

									<div class="post-meta">
										<ul class="list-inline">
											<li class="post-like list-inline-item">
												<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>2 min
													read</span>
											</li>
											<li class="post-view list-inline-item letter-spacing-1">320 Views</li>
										</ul>
									</div>
									<div class="post-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat
											necessitatibus tenetur ratione eius numquam!</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
					<div class="sidebar sidebar-right">
						<div class="sidebar-wrap mt-5 mt-lg-0">
							<div class="sidebar-widget about mb-5 text-center p-3">
								<div class="about-author">
									<img src="images/author.jpg" alt="" class="img-fluid">
								</div>
								<h4 class="mb-0 mt-4">SOM</h4>
								<p>솜사탕</p>
								<p>I'm Liam, last year I decided to quit my job and travel the world. You can follow my journey on this
									blog!</p>
								<img src="images/liammason.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section th:replace="~{footer :: #footer}"></section>
	
</body>

</html>