<!DOCTYPE html>

<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>My Diary</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<head th:replace="~{head :: #head}"></head>

<body>
	<header th:replace="~{header :: #menu}"></header>

	<div class="breadcrumb-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="text-center">
						<h2 class="lg-title">My Diary</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="section-padding">
		<div class="container">
			<div class="row">
				<div class="post-pagination col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="next-post" style="margin-bottom: 30px;">
						<a href="/mySpace/diary/write">
							<span class="ti-pencil-alt"> 작성하기</span>
						</a>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<th:block th:each="diary : ${diarys}">
							<div class="col-lg-4 col-md-6 col-sm-6">
								<article class="post-grid mb-5 ">
									<a class="post-thumb mb-4 d-block" href="#"
										th:if="${diary.saved_filename}">
										<img th:src="'/file/' + ${diary.saved_filename}" class="img-fluid w-100"
											style="height: 300px;">
									</a>
									<a class="post-thumb mb-4 d-block" href="#"
										th:unless="${diary.saved_filename}">
										<img src="/images/som.png" class="img-fluid w-100" style="height: 300px;">
									</a>

									<div class="post-content-grid">
										<div class="label-date">
											<span class="day"
												th:text="${#temporals.format(diary.create_date, 'dd')}"></span>
											<span class="month text-uppercase"
												th:text="${#temporals.monthName(diary.create_date)}"></span>
										</div>
										<span
											class="cat-name text-color font-extra font-sm text-uppercase letter-spacing"
											th:text="${diary.open_or_not} == '0' ? 'Private Diary' : 'Open Diary'"></span>
										<h3 class="post-title mt-1"><a href="#" th:text="${diary.title}"></a></h3>
									</div>
								</article>
							</div>
						</th:block>
					</div>
				</div>

				<div class="m-auto">
					<div class="pagination mt-5 pt-4">
						<ul class="list-inline">
							<li class="list-inline-item"><a href="#" class="active">1</a></li>
							<li class="list-inline-item"><a href="#">2</a></li>
							<li class="list-inline-item"><a href="#">3</a></li>
							<li class="list-inline-item"><a href="#" class="prev-posts"><i
										class="ti-arrow-right"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section th:replace="~{footer :: #footer}"></section>
</body>

</html>