<!DOCTYPE html>

<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>My Diary</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<head th:replace="~{head :: #head}"></head>

<body>
	<header th:replace="~{header :: #menu}"></header>

	<section class="single-block-wrapper section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <div class="single-post">
                        <div class="post-header mb-5 text-center">
                            <div class="meta-cat">
                                <a class="post-category font-extra text-color text-uppercase font-sm letter-spacing-1"
                                    href="#" th:text="${diary.open_or_not} == '0' ? 'Private Diary' : 'Open Diary'"></a>
                            </div>
                            <h2 class="post-title mt-2" th:text="${diary.title}"></h2>

                            <div class="post-meta">
                                <span class="text-uppercase font-sm letter-spacing-1" th:text="${#temporals.format(diary.create_date, 'yyyy. MM. dd')}"></span>
                            </div>
                            <div class="post-featured-image mt-5" th:if="${diary.saved_filename}">
                                <img th:src="'/file/' + ${diary.saved_filename}" class="img-fluid w-100" style="height: 400px; object-fit: contain;" alt="featured-image">
                            </div>
                            <th:block th:switch="${#strings.toString(diary.emotion)}">
	                            <div th:case="'happy'" class="ti-shine mt-1">
									<span th:text="${T(com.example.som.model.diary.Emotion).valueOf(diary.emotion).description}"></span>
								</div>
	                            <div th:case="'funny'" class="ti-music-alt mt-1">
									<span th:text="${T(com.example.som.model.diary.Emotion).valueOf(diary.emotion).description}"></span>
								</div>
	                            <div th:case="'good'" class="ti-face-smile mt-1">
									<span th:text="${T(com.example.som.model.diary.Emotion).valueOf(diary.emotion).description}"></span>
								</div>
	                            <div th:case="'bad'" class="ti-bolt mt-1">
									<span th:text="${T(com.example.som.model.diary.Emotion).valueOf(diary.emotion).description}"></span>
								</div>
	                            <div th:case="'sad'" class="ti-face-sad mt-1">
									<span th:text="${T(com.example.som.model.diary.Emotion).valueOf(diary.emotion).description}"></span>
								</div>
							</th:block>
                        </div>
                        <div class="post-body">
                            <div class="entry-content">
                                <p th:text="${diary.content}"></p>
                            </div>
                        </div>
                    </div>
                    
                    <th:block>
						<input class="btn btn-primary" type="button"
							th:onclick="|location.href='@{/diary/list}'|" value="전체 목록으로">
					</th:block>
                    <th:block th:if="${#authentication.name} == ${diary.member_id}">
						<input class="btn btn-primary" type="button"
							th:onclick="|location.href='@{/mySpace/diary/list(member_id=${diary.member_id})}'|"
							value="내 다이어리로">
						<input class="btn btn-primary" type="button"
							th:onclick="|location.href='@{/mySpace/diary/update(diary_id=${diary.diary_id})}'|" value="수정하기">
					</th:block>
					<th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')} or ${#authentication.name} == ${diary.member_id}">
						<input class="btn btn-primary" type="button"
							th:onclick="|location.href='@{/mySpace/diary/delete(diary_id=${diary.diary_id})}'|" value="삭제하기">
					</th:block>
					
                </div>
            </div>
        </div>
    </section>

	<section th:replace="~{footer :: #footer}"></section>
</body>

</html>