<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Write Diary</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<head th:replace="~{head :: #head}"></head>

<body>
	<header th:replace="~{header :: #menu}"></header>

    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <h2 class="lg-title">Today's Diary</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="pt-5 padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<form class="comment-form mb-5 gray-bg p-5" id="write-form" action="write" method="post" enctype="multipart/form-data">
                        <div class="row">
							<div class="col-lg-6">
								<div class="form-group">
                                    <input class="form-control" type="text" th:field="${write.title}" placeholder="제목 :">
                                </div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<select class="form-control" th:field="${write.emotion}">
										<option value="" selected>오늘의 기분</option>
										<option value="happy">행복</option>
										<option value="funny">즐거움</option>
										<option value="bad">나쁨</option>
										<option value="good">좋음</option>
										<option value="sad">슬픔</option>
									</select>
                                </div>
							</div>
                            <div class="col-lg-12">
                                <textarea class="form-control mb-3" th:field="${write.content}" cols="30" rows="20"
                                    placeholder="내용을 입력해주세요."></textarea>
                            </div>
                            <div class="col-lg-6">
								<input class="form-control" type="file" name="file">
							</div>
                            <div class="col-lg-6">
								<div class="form-control">
									<label for="open">공개</label>
									<input type="radio" name="open_or_not" id="open" value="1" style="vertical-align: middle;">
									<label for="not_open" class="ml-2">비공개</label>
									<input type="radio" name="open_or_not" id="not_open" value="0" style="vertical-align: middle;" checked>
								</div>
							</div>
                        </div>
						
						<br>
                        <input class="btn btn-primary" type="submit" value="작성하기">
                        <input class="btn btn-primary" type="button" onclick="location.href='/mySpace/diary/list'" value="목록으로">
                    </form>
					
                </div>
            </div>
        </div>
    </section>
    
	<section th:replace="~{footer :: #footer}"></section>
</body>

</html>