<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Som Point Rank</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <head th:replace="~{head :: #head}"></head>
</head>

<body>
    <header th:replace="~{header :: #menu}"></header>

    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <h2 class="lg-title">SOM Point Rank</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="pt-5 padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-8" style="margin: auto;">
                    <table class="text-center">
                            <tr>
                                <th>Rank</th>
                                <th>Nickname</th>
                                <th>Points</th>
                            </tr>
                            <tr th:each="member, memberStat : ${ranking}">
								<th:block th:if="${memberStat.count == 1}">
									<td style="width: 25%;">
										<img src="/images/rank/goldmedal.png" style="display: inline-block; width: 25%; height: auto;"></img>
									</td>
								</th:block>
								<th:block th:if="${memberStat.count == 2}">
									<td><img src="/images/rank/silvermedal.png" style="display: inline-block; width: 25%; height: auto;"></img></td>
								</th:block>
								<th:block th:if="${memberStat.count == 3}">
									<td ><img src="/images/rank/bronzemedal.png" style="display: inline-block; width: 25%; height: auto;"></img></td>
								</th:block>
								<th:block th:if="${memberStat.count > 3}">
									<td th:text="${memberStat.count}"></td>
								</th:block>
                                <td th:text="${member.nickname}" class="center"></td>
                                <td th:text="${member.point}" class="center"></td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <section th:replace="~{footer :: #footer}"></section>
</body>

</html>